---
layout: page
title: Big Bear Dock & Marine
permalink: /
---
<style>
/* div {
    /* border: 1px solid red; */
/* } */

ion-icon {
  font-size: 64px;
}

.center {
    display: block;
    margin-left: auto;
  margin-right: 20px;
  /* height: 100%; */
  border-radius: 3px;
  
}


/* * {box-sizing: border-box} */
/* body {font-family: Verdana, sans-serif; margin:0} */
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dots {
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
  padding: 10px;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


</style>



<!-- Slider Start -->
<section id="slider">
  <div class="container"> 
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
            <!-- We Specialize in installing, servicing, and selling dock & hoists in the north-western region of Michigan's lower peninsula. -->
          <!-- <h1 class="animated fadeInUp">A DIGITAL MARKETING &#38; <br> DESIGN AGENCY</h1> -->
          <h1 class="animated fadeInUp">A FULL SERVICE <br> WATERFRONT COMPANY</h1>
          <p class="animated fadeInUp">We specialize in installing, servicing, and selling dock & hoists in the northwestern region of Michigan's lower peninsula.</p>
          <br>
          <a class="btn btn-default btn-call-to-action" href="#" >Get an Estimate</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="block">
          <!-- <div class="section-title"> -->
              <div>
            <h2>About Us</h2>
            <br>
            <p>Hello! <br> We are the Bearden family and are native to Michigan where we enjoy raising our family, giving back to our community, and supporting small businesses in the area. After an almost decade-long stretch at East Jordan Iron Works, an opportunity arose and we officially established Big Bear Dock & Marine Services in early 2016. </p>
            <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p> -->
          </div>
          <p>We are currently working on expanding our services after the purchase of a new building located on US-31. Stay tuned for more updates on our showroom and outdoor display!
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  </p> -->
        <br><br>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-4 col-sm-12"  >
        <!-- <div class="block " > -->
            <br>
        <img class = "center" style = "box-shadow: 3px 3px 7px;" src="img/family-1.jpg" alt="Img" >
        <!-- </div> -->
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature" class="work">
<!-- <div class="container " style="margin-right: 0px;">
  <div class="row " >
    <div class="col-md-6 col-md-offset-6" style = "background-color: rgb(0,0,0, 0.5);  padding: 100px;">
      <br><br>
      <h2 style="color: rgb(255,255,255);" >WE BELIEVE IN QUALITY</h2>
      <p style="color: rgb(255,255,255);" >Our main line of work is installtion and removal of your docks and hoists each season. We currently service Torch Lake, Elk Lake, Lake Charlevoix, & Lake Michigan.</p>
      <p style="color: rgb(255,255,255);" >However, our services extend far beyond just putting your dock in the water and taking it back out.</p>
      <p style="color: rgb(255,255,255);" >Check out samples of our recent work,and you'll agree that we're the best choice.</p>
      <br>
      <a href="#" class="btn btn-view-works">View Work</a>
      <br><br><br><br>
    </div>
  </div>
</div> -->
<div class= "container"></div>
<div class="row">
    <div class="col-md-6 col-md-offset-6" > 
        <!-- <br> -->

        <div class="slideshow-container">

            <div class="mySlides fade">
              <!-- <div class="numbertext">1 / 3</div> -->
              <img src="img/img_nature_wide.jpeg" alt="Img" style="width:100%">
            </div>
            
            <div class="mySlides fade">
              <!-- <div class="numbertext">2 / 3</div> -->
              <img src="img/featue-bg.jpg" style="width:100%">
            </div>
            
            <div class="mySlides fade">
              <!-- <div class="numbertext">3 / 3</div> -->
              <img src="img/img_nature_wide.jpeg" style="width:100%">
            </div>
            
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            
            <div class = "dots" style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span> 
              <span class="dot" onclick="currentSlide(2)"></span> 
              <span class="dot" onclick="currentSlide(3)"></span> 
            </div>
            
            </div>



    </div>
</div>
</section>

<!-- <ion-icon name="boat-outline"></ion-icon> -->
<!-- <ion-icon name="construct-outline"></ion-icon> -->
<!-- <ion-icon name="build-outline"></ion-icon> -->
<!-- <ion-icon name="hammer-outline"></ion-icon> -->
<!-- <ion-icon name="image-outline"></ion-icon> -->
<!-- <ion-icon name="leaf-outline"></ion-icon> -->



<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Services</h2>
        <p>Description about services in general</p>
        <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p> -->
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <!-- <i class="icon ion-coffee"></i> -->
          <ion-icon name="boat-outline"></ion-icon>
          <h4>Docks</h4>
          <p>End-to-end dock solutions. Full design, installation, maintainance, power-washing and uninstallation services.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="hammer-outline"></ion-icon>
          <h4>Building</h4>
          <p>Hardscaping, retaining walls, mulching, tree trimming and general landscaping.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="build-outline"></ion-icon>
          <h4>Maintenance</h4>
          <p>Regular property upkeep, cleaning, and reconditioning services. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <!-- <i class="ion-bug"></i> -->
          <ion-icon name="sparkles-outline"></ion-icon>
          <h4>Clean-Up</h4>
          <p>We offer seasonal property clean-up services each spring and fall. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
            <br><br>
          <h2>We design personalized waterfront experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Get an Estimate</a>
          <br><br>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<!-- <section id="testimonial">
  <div class="container"> -->
    <!-- <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div> -->
    <!-- </div> -->
  <!-- </div>
</section> -->

<script>
    var slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
    }
    </script>